@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
.toolbar-color {
    background-color: #1a1a1a;
}

span {
    color: #ffb800;
}
ion-title {
    font-size: 2rem;
    padding: 1rem;
}
.toolbar {
    height: 10rem;
    text-align: center;
    display: flex;
}
.item-content {
    margin-top: 1rem;
}
.texto {
  display: flex;
    margin-left: 1rem;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

ion-card-content {
  display: flex;

  justify-content: space-between;
  align-items: center;
}


ion-icon {
  padding-left: 1rem;
}

.small-button {
    width: 100px; /* Ajusta el ancho según tu preferencia */
    height: 30px; /* Ajusta el alto según tu preferencia */
    font-size: 13px; /* Ajusta el tamaño del texto según tu preferencia */
  }
  
  .large-button {
    width: 100%; /* Mantén el ancho al 100% para el botón "Guardar Viaje" */
  }
  