@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

.toolbar-color {
    background-color: #1a1a1a;
}

span {
    color: #ffb800;
}

ion-title {
    font-size: 2rem !important;
    padding: 1rem !important;
}

.toolbar {
    height: 10rem;
    text-align: center;
}

.item-content {
    margin-top: 2.5rem;
}

.btn {
    display: block;
}

.ion-button {
    background-color: blueviolet;
}

.custom-button {
    background-color: blueviolet;
}

.link {
    margin: 2rem;
    text-align: center;
}

a {
    text-decoration: none;
}

.logo-duoc {
   padding-right: center; /* Este estilo puede no tener efecto, verifica si necesitas ajustarlo */
}

.bienvenido {
    background-color: #1a1a1a;
    padding: 1rem; /* Ajusta el valor según tus necesidades */
    text-align: center;
}
