<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start" >
     </ion-buttons>
    <ion-title>TeLlevo<span>APP</span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let viaje of viajes">
      <ion-label>
        <h2>Fecha: {{ viaje.fecha }}</h2>
        <p>Hora: {{ viaje.hora }}</p>
        <p>Precio: ${{ viaje.precio }}</p>
        <p>Cupos disponibles: {{ viaje.cupos }}</p>
        <p>Ubicación: {{ viaje.ubicacion }}</p>
        <br>
        <ion-avatar slot="start">
          <img alt="auto" src="assets/icon/171241.png"/>
        </ion-avatar>
        <br>
      </ion-label>
      <ion-button color="warning" fill="outline" slot="end">Tomar Viaje</ion-button>
    </ion-item>    
  </ion-list>
  <ion-button color="warning" fill="outline" expand="block" class="large-button" expand="full" expand="full" routerLink="/home" >Regresar</ion-button>
  <div class="logo-duoc">
    <img src="assets/icon/duoc.jpg" alt="Duoc logo">
  </div>
</ion-content>
